VITE_SUPABASE_URL=https://qqekqjaasgbrlgtjuisb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxZWtxamFhc2dicmxndGp1aXNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2NjgxMTQsImV4cCI6MjA5ODI0NDExNH0.HNlsBqstqQ-UjfRyhFd3XvOlDqnW0-kVyTZnE5mgUNI
